<a href="https://colab.research.google.com/github/MaliheDahmardeh/Olympic-History/blob/main/Olympic_History.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data info

**Context:**

This is a historical dataset on the modern Olympic Games, including all the Games from Athens 1896 to Rio 2016. data has scraped from www.sports-reference.com in May 2018. 

The Winter and Summer Games were held in the same year up until 1992. After that, they staggered them such that Winter Games occur on a four year cycle starting with 1994, then Summer in 1996, then Winter in 1998, and so on.

**Content:**

The file athlete_events.csv contains 271116 rows and 15 columns. Each row corresponds to an individual athlete competing in an individual Olympic event (athlete-events). The columns are:

ID : Unique number for each athlete

Name : Athlete's name

Sex : M or F

Age : Integer

Height : In centimeters

Weight : In kilograms

Team : Team name

NOC : National Olympic Committee 3-letter code

Games : Year and season

Year : Integer

Season : Summer or Winter

City : Host city

Sport : Sport

Event : Event

Medal : Gold, Silver, Bronze, or NA

#Dataset loading

In [86]:
import numpy as np
import pandas as pd
import os

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [87]:
!ls

athlete_events.csv  noc_regions.csv  sample_data

In [88]:
df_events = pd.read_csv('athlete_events.csv')

In [89]:
df_noc = pd.read_csv('noc_regions.csv')

In [90]:
df = pd.merge(df_events,df_noc,on='NOC',how='left')
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN,Poland,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN,Poland,NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN,Poland,NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN,Poland,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN,Poland,NaN

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 271116 entries, 0 to 271115
Data columns (total 17 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
 15  region  270746 non-null  object
 16  notes   5039 non-null    object
dtypes: float64(3), int64(2), object(12)
memory usage: 37.2+ MB

#Data Cleaning

In [92]:
df.isnull().sum()

ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
region       370
notes     266077
dtype: int64

In [93]:
#drop columns 'notes' and 'ID' because they are not important and column 'notes' has lots of null values
df.drop(columns=['notes','ID'],inplace=True)

In [94]:
# check and drop duplicated rows
df.duplicated().sum()

1385

In [95]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

0

Fill  null value for Age, Height and Weight with mean of them

In [96]:
#Mean of height
mean_height=df["Height"].mean()
rmh=round(mean_height)
rmh

175

In [97]:
df["Height"]=df["Height"].fillna(rmh)
df["Height"]

0         180.0
1         170.0
2         175.0
3         175.0
4         185.0
          ...
271111    179.0
271112    176.0
271113    176.0
271114    185.0
271115    185.0
Name: Height, Length: 269731, dtype: float64

In [98]:
#Mean of weight
mean_weight=df["Weight"].mean()
rmw=round(mean_weight)
rmw

71

In [99]:
df["Weight"]=df["Weight"].fillna(rmw)
df["Weight"]

0         80.0
1         60.0
2         71.0
3         71.0
4         82.0
          ...
271111    89.0
271112    59.0
271113    59.0
271114    96.0
271115    96.0
Name: Weight, Length: 269731, dtype: float64

In [100]:
#Mean of Age
mean_age=df["Age"].mean()
rma=round(mean_age)
rma

25

In [101]:
df["Age"]=df["Age"].fillna(rma)
df["Age"]

0         24.0
1         23.0
2         24.0
3         34.0
4         21.0
          ...
271111    29.0
271112    27.0
271113    27.0
271114    30.0
271115    34.0
Name: Age, Length: 269731, dtype: float64

In [102]:
#Changing float type data to integer
df["Age"]=df["Age"].astype(int)
df["Height"]=df["Height"].astype(int)
df["Weight"]=df["Weight"].astype(int)

In [103]:
df.columns

Index(['Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal', 'region'],
      dtype='object')

In [104]:
#drop Medal null values
drop_rows = df.dropna( how='any',subset=['Medal'], inplace=True)

In [105]:
df.isnull().sum()

Name      0
Sex       0
Age       0
Height    0
Weight    0
Team      0
NOC       0
Games     0
Year      0
Season    0
City      0
Sport     0
Event     0
Medal     0
region    9
dtype: int64

In [106]:
#fill remaining null values in region with 'unknown'
df["region"]=df["region"].fillna('unknown')

In [107]:
#view of "unknown" region
region_unknown=df.loc[(df["region"]=="unknown")]
region_unknown

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region
67723,Feng Tian Wei,F,21,163,55,Singapore,SGP,2008 Summer,2008,Summer,Beijing,Table Tennis,Table Tennis Women's Team,Silver,unknown
67724,Feng Tian Wei,F,25,163,55,Singapore,SGP,2012 Summer,2012,Summer,London,Table Tennis,Table Tennis Women's Singles,Bronze,unknown
67725,Feng Tian Wei,F,25,163,55,Singapore,SGP,2012 Summer,2012,Summer,London,Table Tennis,Table Tennis Women's Team,Bronze,unknown
138095,Li Jia Wei,F,26,170,60,Singapore,SGP,2008 Summer,2008,Summer,Beijing,Table Tennis,Table Tennis Women's Team,Silver,unknown
138096,Li Jia Wei,F,30,170,60,Singapore,SGP,2012 Summer,2012,Summer,London,Table Tennis,Table Tennis Women's Team,Bronze,unknown
213955,Joseph Isaac Schooling,M,21,184,74,Singapore,SGP,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Men's 100 metres Butterfly,Gold,unknown
235908,"Howe Liang ""Tiger"" Tan",M,27,160,69,Singapore,SGP,1960 Summer,1960,Summer,Roma,Weightlifting,Weightlifting Men's Lightweight,Silver,unknown
256622,Wang Jue Gu,F,28,155,63,Singapore,SGP,2008 Summer,2008,Summer,Beijing,Table Tennis,Table Tennis Women's Team,Silver,unknown
256624,Wang Jue Gu,F,32,155,63,Singapore,SGP,2012 Summer,2012,Summer,London,Table Tennis,Table Tennis Women's Team,Bronze,unknown

In [108]:
#because in the Noc_region data frame NOC for Singapore is SIN and in the athlete_events data frame it is SGP we missed some data so we replace "unknown" with "singapore"
df["region"]=df["region"].replace('unknown','Singapore')
region_singapore=df.loc[(df["region"]=="Singapore")]
region_singapore

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region
67723,Feng Tian Wei,F,21,163,55,Singapore,SGP,2008 Summer,2008,Summer,Beijing,Table Tennis,Table Tennis Women's Team,Silver,Singapore
67724,Feng Tian Wei,F,25,163,55,Singapore,SGP,2012 Summer,2012,Summer,London,Table Tennis,Table Tennis Women's Singles,Bronze,Singapore
67725,Feng Tian Wei,F,25,163,55,Singapore,SGP,2012 Summer,2012,Summer,London,Table Tennis,Table Tennis Women's Team,Bronze,Singapore
138095,Li Jia Wei,F,26,170,60,Singapore,SGP,2008 Summer,2008,Summer,Beijing,Table Tennis,Table Tennis Women's Team,Silver,Singapore
138096,Li Jia Wei,F,30,170,60,Singapore,SGP,2012 Summer,2012,Summer,London,Table Tennis,Table Tennis Women's Team,Bronze,Singapore
213955,Joseph Isaac Schooling,M,21,184,74,Singapore,SGP,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Men's 100 metres Butterfly,Gold,Singapore
235908,"Howe Liang ""Tiger"" Tan",M,27,160,69,Singapore,SGP,1960 Summer,1960,Summer,Roma,Weightlifting,Weightlifting Men's Lightweight,Silver,Singapore
256622,Wang Jue Gu,F,28,155,63,Singapore,SGP,2008 Summer,2008,Summer,Beijing,Table Tennis,Table Tennis Women's Team,Silver,Singapore
256624,Wang Jue Gu,F,32,155,63,Singapore,SGP,2012 Summer,2012,Summer,London,Table Tennis,Table Tennis Women's Team,Bronze,Singapore

In [109]:
df.isnull().sum()

Name      0
Sex       0
Age       0
Height    0
Weight    0
Team      0
NOC       0
Games     0
Year      0
Season    0
City      0
Sport     0
Event     0
Medal     0
region    0
dtype: int64

#Data Exploration

**OVERALL STATISTIC**

In [110]:
df.describe(include=['object']).T

        count unique                      top   freq
Name    39772  28202  Michael Fred Phelps, II     28
Sex     39772      2                        M  28519
Team    39772    498            United States   5219
NOC     39772    149                      USA   5637
Games   39772     51              2008 Summer   2048
Season  39772      2                   Summer  34077
City    39772     42                   London   3624
Sport   39772     66                Athletics   3969
Event   39772    756  Football Men's Football   1269
Medal   39772      3                     Gold  13369
region  39772    137                      USA   5637

In [111]:
df.describe(include=['int64']).T

,count,mean,std,min,25%,50%,75%,max
Age,39772.0,25.906215,5.857790,10.0,22.0,25.0,29.0,73.0
Height,39772.0,176.995474,9.686490,136.0,172.0,175.0,183.0,223.0
Weight,39772.0,73.119054,13.191658,28.0,66.0,71.0,79.0,182.0
Year,39772.0,1973.964296,33.805168,1896.0,1952.0,1984.0,2002.0,2016.0

In [112]:
#overall statistic of the olampics during the 1896-2016

print('Total number of times olympic being held :',df['Year'].nunique())
print('Total number of cities which have participated :',df['City'].nunique())
print('Total number of different sports played :',df['Sport'].nunique())
print('Total number of events held in olympics held :',df['Event'].nunique())
print('Total number of athletes who have participated :',df['Name'].nunique())
print('Total number of countries who have participated :',df['region'].nunique())

Total number of times olympic being held : 35
Total number of cities which have participated : 42
Total number of different sports played : 66
Total number of events held in olympics held : 756
Total number of athletes who have participated : 28202
Total number of countries who have participated : 137

In [ ]:
#total number of Gold,Silver,Bronze Medals during the 1896-2016
medals=df['Medal'].value_counts()
print('Total number of different medals:')
print(medals)

In [ ]:
total_count = df.groupby("Season")[["Team", "NOC", "Event", "City", "Sport"]].nunique().reset_index()
total_count

In [ ]:
#Medals is a categorical column we can get separate columns of Gold, Silver and Bronze from column Medal by using the get_dummies method of pandas.
df = pd.concat([df,pd.get_dummies(df['Medal'])],axis=1)
df

**PERFORMANCE OF COUNTRIES IN THE OLYMPICS**

In [ ]:
#since some sports are team sport like water polo,Basketball,...the number of medals are more than one in our dataframe for example 12 for basketball (https://en.wikipedia.org/wiki/Team_sport#Olympic_team_sports)(https://en.wikipedia.org/wiki/List_of_Olympic_medalists_in_basketball)for counting medal for different country remove duplicates medals for team sport
df_medal_duplicated = df.drop_duplicates(subset=['Event','Sport','Team','region','Games','Year','City','Medal']).reset_index()
df_medal_duplicated.drop(columns=['index'], inplace=True)
df_medal_duplicated

In [122]:
#number of different medals from 1896 to 2016 for each region,by using (df_medal_duplicated) for counting medal for different country consider one medal for each team sport,
number_of_different_medals=df_medal_duplicated.groupby('region').sum()[['Gold','Silver','Bronze']].reset_index()
number_of_different_medals['Total']=number_of_different_medals['Gold'] + number_of_different_medals['Silver'] + number_of_different_medals['Bronze']
country_medals=number_of_different_medals.sort_values('Total',ascending=False).reset_index()
country_medals.drop(columns=['index'], inplace=True)
country_medals.head(20)

         region    Gold  Silver  Bronze   Total
0           USA  1131.0   901.0   792.0  2824.0
1        Russia   727.0   600.0   589.0  1916.0
2       Germany   580.0   592.0   597.0  1769.0
3            UK   289.0   321.0   312.0   922.0
4        France   265.0   287.0   334.0   886.0
5         Italy   256.0   225.0   241.0   722.0
6        Sweden   200.0   215.0   242.0   657.0
7         China   240.0   185.0   173.0   598.0
8     Australia   156.0   174.0   201.0   531.0
9       Hungary   178.0   156.0   176.0   510.0
10        Japan   152.0   151.0   179.0   482.0
11       Norway   170.0   159.0   148.0   477.0
12       Canada   126.0   160.0   189.0   475.0
13      Finland   146.0   148.0   177.0   471.0
14  Netherlands   125.0   135.0   149.0   409.0
15  Switzerland   108.0   122.0   116.0   346.0
16      Austria    85.0   118.0   123.0   326.0
17  South Korea   116.0   102.0    99.0   317.0
18       Poland    75.0    94.0   141.0   310.0
19      Romania    88.0    95.0   121.0   304.0

**SPORTS PLAYED IN THE OLYMPICS**

In [ ]:
#name of different sports during the Olympics
sport = df['Sport'].unique().tolist()
sport.sort()
sport

In [ ]:
#we see the number of Medals/athletes in each sport that helds in Olympics
df_sport = df.groupby('Sport')['Name'].count().reset_index(name = 'Count')
df_sport = df_sport.sort_values('Count',ascending = False).reset_index()
df_sport.drop(columns=['index'], inplace=True)
df_sport.head(15)

**PERFORMANCE OF MEN AND WOMEN IN THE OLYMPICS**

In [125]:
#number of different medals for men and women
men_and_women_medals=df.groupby('Sex').sum()[['Gold','Silver','Bronze']].sort_values('Gold',ascending=False).reset_index()
men_and_women_medals

  Sex    Gold  Silver  Bronze
0   M  9622.0  9373.0  9524.0
1   F  3747.0  3735.0  3771.0

In [126]:
m_and_f = df.groupby(['Sex', 'Medal']).size().reset_index().pivot(columns='Medal', index='Sex', values=0).reset_index()
m_and_f

Medal Sex  Bronze  Gold  Silver
0       F    3771  3747    3735
1       M    9524  9622    9373

In [ ]:
#number of women who have won medals at the summer Olympics
women = df[(df['Sex'] == 'F')& (df['Season'] == 'Summer')].groupby('Year').count()['Name'].reset_index()
#number of men who have won medals at the summer Olympics
men = df[(df['Sex'] == 'M')& (df['Season'] == 'Summer')].groupby('Year').count()['Name'].reset_index()

#number of men and women with medals in each year
total_athlete= men.merge(women,on='Year',how='left')
total_athlete.rename(columns={'Name_x':'Male','Name_y':'Female'},inplace=True)
total_athlete = total_athlete.fillna(0)
total_athlete

In [171]:
#making a matrix of region and sport 
b=df.drop_duplicates(subset=['Event','Sport','Team','region','Games','Year','City','Medal']).reset_index()
country_sport=b.groupby('region')['Sport'].value_counts().sort_values(ascending=False).unstack().fillna(0)

In [170]:
maxvalue=country_sport.max(axis=1).sort_values(ascending=False).head(20)
x=maxvalue.head(20)

In [169]:
maxvalueindex=country_sport.idxmax(axis=1)
y=maxvalueindex

In [168]:
#define series
series1 = pd.Series(x , name='Medals')
series2 = pd.Series(y , name='Sport')

#merge series into DataFrame
df_xy = pd.concat([series1, series2], axis=1)
df_xy.head(20)

             Medals                 Sport
region
USA           816.0             Athletics
Russia        291.0             Athletics
Germany       264.0             Athletics
UK            212.0             Athletics
Australia     201.0              Swimming
Italy         127.0               Fencing
France        123.0               Fencing
Finland       116.0             Athletics
Austria       114.0         Alpine Skiing
Netherlands   105.0         Speed Skating
Norway         97.0  Cross Country Skiing
Japan          94.0            Gymnastics
Kenya          93.0             Athletics
Sweden         92.0             Athletics
Hungary        88.0               Fencing
Jamaica        75.0             Athletics
Cuba           73.0                Boxing
Bulgaria       69.0             Wrestling
China          69.0                Diving
Romania        69.0            Gymnastics

In [ ]:
def most_successful_country_athletes(df,country):
    tmw_df = df.dropna(subset=['Medal'])
    tmw_df = tmw_df[tmw_df['region'] == country]
    x = tmw_df['Name'].value_counts().reset_index().head(15)
    x = x.merge(df,left_on='index',right_on='Name',how='left')[['index','Name_x','Sport']].drop_duplicates()
    x.rename(columns={'index':'Name','Name_x':'Medals'},inplace=True)
    return x
x = most_successful_country_athletes(df,'USA')
x = x.reset_index().head(15)
x.drop(columns=['index'], inplace=True)
x

In [ ]:
tmw_df = df.dropna(subset=['Medal'])
c=tmw_df['Name'].value_counts().reset_index().head(15)
c = c.merge(df, left_on='index', right_on='Name')[
              ['index', 'Name_x', 'Sport', 'region']].drop_duplicates()
c.rename(columns={'index': 'Name', 'Name_x': 'Medals'}, inplace=True)
c = c.reset_index()
c.drop(columns=['index'], inplace=True)
c

**Top-10 medal winners in the olympics**

In [ ]:
#Top-10 medal winners in the olympics
def top_medal_winners(df, sport):
    tmw_df = df.dropna(subset=['Medal'])

    if sport != 'Total':
        tmw_df = tmw_df[tmw_df['Sport'] == sport]

    tmw_table = tmw_df['Name'].value_counts().reset_index()
    tmw_table = tmw_table.merge(df, left_on='index', right_on='Name')[
              ['index', 'Name_x', 'Sport', 'region']].drop_duplicates()
    tmw_table.rename(columns={'index': 'Name', 'Name_x': 'Medals'}, inplace=True)

    return tmw_table


#making a top medal winners list 
sport.insert(0, 'Total')   
tmw_10= top_medal_winners(df,'Total')
tmw_10 = tmw_10.reset_index().head(10)
tmw_10.drop(columns=['index'], inplace=True)
tmw_10

#Data Visualization

**PERFORMANCE AND PARTICIPATION OF MEN AND WOMEN IN  OLYMPICS**

In [ ]:
#we see the percentage of men and women who won the medal in Olympic
df_pie=df['Sex'].value_counts()
df_pie.plot.pie(explode=[0,0.1],autopct='%.2f', shadow =True , colors=('lightblue','pink'));

In [ ]:
#men and women performance over the time for summer olympic season
fig = px.line(total_athlete,x='Year',y=['Male','Female'])
fig.update_layout(title='<b>Performance of men and women in summer olympics over the years<b> ',plot_bgcolor = 'whitesmoke')
fig.show()

**PERFORMANCE AND PARTICIPATION OF COUNTRIES IN OLYMPICS**

In [ ]:
#by bar chart we see the 40 team that have the highest number of medals in Olympic
medals_region=number_of_different_medals.head(40)

fig, ax = plt.subplots(figsize = (12, 20))
sns.barplot(x = medals_region['Total'], 
            y = medals_region['region'],
            data = medals_region,
            edgecolor = 'k')
sns.despine(right=True)

plt.grid(axis='x')
plt.ylabel("Olympic Team",fontsize=15)
plt.xlabel("Number of medals",fontsize=15)
plt.suptitle("Number of medals per Olympic Team \n(1896-2016)", size = 15)
plt.show()

In [ ]:
#participation of nations in Olympic over the year
nations_df= df.groupby('Year').count()['region'].reset_index()
nations_df.rename(columns={"region":"Count"},inplace=True)

fig= px.line(nations_df,x='Year',y='Count')
fig.update_layout(title="<b>The variation of different nations in olympics over the Years</b>",plot_bgcolor = " whitesmoke")
fig.show()

In [ ]:
fig = px.bar(x, x='Name', y='Medals', color='Sport', color_continuous_scale='Bluered_r', 
             labels={
            "Name": "Name of the athletes",
            "Medals": "Total medals won by the athletes",
            "Sport": "Sports played by the athletes"
            },)
fig.update_layout(title='<b>Top-15 athlete of USA<b>',height=700)

**MEDALS FOR SPORTS PLAYED IN THE OLYMPICS**

In [ ]:
#Medals won in each sport in the Olympics
fig = px.bar(df_sport, x='Sport', y='Count', 
      labels={"Sport": "Name of the Sports",
              "Count": "Total number of medals in each sport",
              },)
fig.update_layout(title='<b>Number of medals for each sport in Olympics<b>',height=600)

In [ ]:
fig = px.bar(tmw_10, x='Name', y='Medals', color='region', labels={
        "Name": "Name of the athlete",
        "Medals": "Total medals won by the athlete",
        "region": "Country of the athlete"
          },)
fig.update_layout(title='Top-10 Successfull athletes in Gymnastics',height=700)

**HEIGHT ,WEIGHT AND AGE DISTRIBUTION**

In [ ]:
#scatterplot for height weight age....
plot = px.scatter(df, x="Height", y="Weight",color='Age',title="<b>Variation Of Height , Weight and Age </b>")
plot.update_layout(autosize=True)
plot.show()

In [ ]:
youngest=df.groupby('Age').min().head(1)
youngest

In [ ]:
oldest=df['Age'].loc[df['Age'].idxmax()]  
oldest

In [ ]:

old=df['Age']==df['Age'].max()
df[old]